{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}

    <div class="container-fluid container-padding text-center mt-5 mt-lg-0">
        <div class="row mb-5">
            <div class="col">  
                <h1>Your Shopping Cart</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="font-weight-bold text-purple">
                                <tr>
                                    <th scope="col">ITEM</th>
                                    <th scope="col"></th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">QUANTITY</th>
                                    <th scope="col">TOTAL</th>
                                </tr>
                            </thead>
                            {% for item in cart_items %}
                                <tr class="text-purple">
                                    <td class="p-3 w-25">
                                        <img src="{% static 'images/yommiesbag.jpg' %}" class="img-big border-radius-curve" alt="yommies sweet bag">
                                    </td>
                                    <td class="py-3 text-left">
                                        <p>{{ item.bag_choice.name }}</p>
                                        <p class="text-lowercase">{{ item.bag_choice.description }}</p>
                                        {% if item.scoops %}
                                            {% if item.bag_choice.duplicate_scoops == True %}
                                                <small class="d-block mb-2">This bag contains multiple scoops of:</small>
                                            {% endif %}
                                            {% for scoop in item.scoops %}
                                                <small class="text-lowercase py-0 my-0 d-block">{{ scoop }}</small>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p>£{{ item.bag_choice.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="pb-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm text-purple" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </button>
                                                    </div>
                                                    <input class="d-inline form-control form-control rounded qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm text-purple" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-purple float-left cursor-pointer"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right cursor-pointer" id="remove_{{ item.item_id }}"><small>Remove all</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p>£{{ item.bag_choice.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr class="text-purple">
                                <td colspan="5" class="text-right">
                                    <h6 class="py-1">Cart Total:<strong> £{{ total|floatformat:2 }}</strong></h6>
                                    <h6 class="py-1">Delivery: <strong>£{{ delivery|floatformat:2 }}</strong></h6>
                                    <h4 class="py-1"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="py-1">You are eligible for <strong>FREE DELIVERY</strong> if you spend <strong>£{{ free_delivery_delta }}</strong> more!</p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'home' %}" class="btn btn-lg purple-btn mx-2">Return</a>
                                    <a href="{% url 'checkout' %}" class="btn btn-lg pink-btn mx-2">Checkout</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="mt-5">Your cart is empty!</p>
                    <p class="my-5">Get building your own pick 'N' mix or choose a ready made bag.</p>
                    <a href="{% url 'scoops' %}" class="btn btn-lg pink-btn mx-3">Build</a>
                    <a href="{% url 'bags' %}" class="btn btn-lg purple-btn mx-3">Bags</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'sweets/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}