{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Landing page section -->
    <div class="container-fluid view-height-100 container-padding text-center mt-5 mt-lg-0">
        <div class="row pt-5 pt-lg-0">
            <div class="col-lg-3 d-none d-lg-block">
                <img class="img-medium" src="{% static 'sweeticons/045-gummy.png' %}" alt="Smiley gummy midget gems">
            </div>
            <div class="col-lg-6 col-md-12">
                <h1 class="cabinsketch-header pt-5 pb-2 big-font">Yommies</h1>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <img class="img-medium" src="{% static 'sweeticons/036-jellybeans.png' %}" alt="Smiley jelly beans">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="text-center font-weight-light py-3">Pick 'N' Mix</h4>
                <a class="btn btn-lg pink-btn" href="{% url 'scoops' %}">Build</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img class="img-medium pt-4" src="{% static 'sweeticons/008-candy.png' %}" alt="Smiley candy in striped wrapper">
            </div>
            <div class="col-6">
                <img class="img-medium pt-4" src="{% static 'sweeticons/049-lollipop.png' %}" alt="Smiley striped lollipop">
            </div>
        </div>
    </div>
    <!-- End of landing page section -->

    <!-- Welcome / info section -->
    <div class="container-fluid container-padding bg-color-almond">
        <div class="row py-5">
            <div class="col-12">
                <h2 class="text-center font-weight-light d-inline my-auto">Welcome to <span class="cabinsketch-header medium-font">Yommies!</span></h2>
                <img class="img-small float-right d-none d-lg-inline" src="{% static 'sweeticons/032-candy.png' %}" alt="smiling purple boiled sweet in clear wrapper">
            </div>
        </div>
        <div class="row py-5">
            <div class="col-5">
                <img class="img-medium" src="{% static 'sweeticons/020-marshmallow.png' %}" alt="Smiley striped marshmallow">
            </div>
            <div class="col-7 text-center">
                <p>This is your one stop shop for delicious pick 'N' mix!</p>
                <p>We have <strong>over 50 varieties</strong> of sweets to choose from so what are you waiting for?! </p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-7 text-center">
                <p>Whether it's fizzy, jelly, chocolate or vegetarian we're sure to have something just right for your taste. Follow our simple process and make your selection - we'll take care of the rest.</p>
            </div>
            <div class="col-5">
                <img class="img-medium float-right" src="{% static 'sweeticons/048-gooeycandy.png' %}" alt="Smiley gooey candy">
            </div>
        </div>
        <div class="row py-5">
            <div class="col-sm-4 text-center py-3">
                <h3 class="py-3">CHOOSE</h3>
                <img class="img-medium pt-3" src="{% static 'sweeticons/019-chocbar.png' %}" alt="Smiley chocolate bar">
            </div>
            <div class="col-sm-4 text-center py-3">
                <h3 class="py-3">SCOOP</h3>
                <img class="img-medium pt-3" src="{% static 'sweeticons/017-lollipop.png' %}" alt="Smiley pink lolliopo">
            </div>
            <div class="col-sm-4 text-center py-3">
                <h3 class="py-3">DELIVER</h3>
                <img class="img-medium pt-3" src="{% static 'sweeticons/024-macaron.png' %}" alt="Smiley purple macaron">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center pt-5">
                <p class="pt-3">Can't decide?</p>
                <p class="pb-3">We have a pre-selected range of bags for those of you who just can't make their minds up.</p> 
                <p class="pb-3">Just click shop now and choose from either, Jelly, Fizzy, Choccie, Vegetarian or if you're feeling lucky... Random!</p>
                <a class="btn btn-lg pink-btn" href="{% url 'bags' %}">Shop now</a>
            </div>
        </div>
    </div>
    <!-- End of welcome / info section -->
{% endblock %}