{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block content %}

    <div class="container-fluid container-padding mt-5 mt-lg-0">
        <div class="row mb-5">
            <div class="col">  
                <h1 class="text-center">Account</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h5 class="text-center pb-4">Default Delivery Information</h5>
                <form method="POST" action="{% url 'profile'%}" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center pt-2">
                        <button class="btn pink-btn">Update Info</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <h5 class="text-center pb-4">Your Order History</h5>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}