{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid container-padding mt-5 mt-lg-0">
        <div class="row mb-5">
            <div class="col-12 col-md-6 mx-auto">  
                <h1 class="text-center">Management Area</h1>
                <h3 class="text-center pt-3">Scoops</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <form method="POST" action="{% url 'add_scoop' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center pt-4">
                        <button class="btn pink-btn">Add scoop</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

