{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid container-padding">
        <div class="row">
            <div class="col-12 pt-5">
                <h1 class="text-center pb-5">Yommies 1KG Premade Mix</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center pb-4">
                <img class="img-big border-radius-curve" src="{% static 'images/yommiesbag.jpg' %}" alt="Bag of yommies pick 'n' mix">
            </div>
            <div class="col-md-6">
                <form action="{% url 'add_to_cart' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="d-flex">
                            <select class="form-control form-control-lg" name="bag_choice" id="bagChoice" required>
                                <option value="">Choose your bag</option>
                                {% for bag in bags %}
                                    {% if bag.name != 'CUSTOM MIX' %}
                                        <option value='{"name":"{{ bag.name }}", "id":"{{ bag.id }}", "description":"{{ bag.description }}", "price":"{{ bag.price }}", "scoops":"{{ bag.scoops }}"}' data-item_id="{{ bag.id }}">{{ bag.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group py-3">
                        <div class="input-group w-50">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn text-purple" data-item_id="1" id="decrement-qty">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <input class="d-inline form-control w-25 qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="2" id="id_qty">
                            <div class="input-group-append">
                                <button class="increment-qty btn text-purple" data-item_id="3" id="increment-qty">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'home' %}" class="btn pink-btn mx-sm-2 my-1 font-weight-bold">Return</a>
                    <button type="submit" class="btn purple-btn mr-sm-2 my-1 font-weight-bold">Add to cart</button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <div class="d-inline mx-sm-2 pt-1"><i class="fab fa-cc-stripe stripe-icon"></i></div>
                    <small class="text-center d-block pt-5">Choose from the pre-selected range of pick 'n' mix.</small>
                    <small class="text-center d-block">Choose an increased quantity if you're feeling greedy, add to cart and then head to checkout.</small>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'sweets/includes/quantity_input_script.html' %}
{% endblock %}