<div class="container-fluid footer-padding bg-color-purplenavy">
    <div class="row">
        <div class="col-4 text-center footer-link-positioning">
            <h3 class="footer-headers mb-3">Footer Links</h3>
            <a href="#" class="m-auto py-1 footer-links-style">some links</a>
            <a href="#" class="m-auto py-1 footer-links-style">some links</a>
            <a href="#" class="m-auto py-1 footer-links-style">some links</a>
            <a href="#" class="m-auto py-1 footer-links-style">some links</a>
        </div>
        <div class="col-4 text-center footer-link-positioning">
            <h3 class="footer-headers mb-3">Footer Links</h3>
            <a href="#" class="m-auto py-1 footer-links-style">some links</a>
            <a href="#" class="m-auto py-1 footer-links-style">some links</a>
            <a href="#" class="m-auto py-1 footer-links-style">some links</a>
            <a href="#" class="m-auto py-1 footer-links-style">some links</a>
        </div>
        <div class="col-4 text-center">
            <h3 class="footer-headers mb-3">Social</h3>
            <a href="#" class="p-1"><i class="fab fa-facebook-square social-icons"></i></a>
            <a href="#" class="p-1"><i class="fab fa-twitter-square social-icons"></i></a>
            <a href="#" class="p-1"><i class="fab fa-instagram-square social-icons"></i></a>
            <a href="#" class="p-1"><i class="fab fa-pinterest-square social-icons"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="small-font text-white pt-5">This site is intended for educational purposes only.</p>
        </div>
    </div>
</div>